/* CSS É ONDE VOCE ESTILIZA OS COMPONENTES DO SEU HTML PRA DEIXAR ELA BEM BONITA, INTUITIVA E ETC. O HTML FUNCIONA SEM O CSS MAS É BEM FEIO.

EXEMPLO DE CSS:

* {
    margin: 0px;
    padding: 0px;
}
    
ESSE EXEMPLO É COMUNMENTE USADO PARA RETIRAR A MARGIN E O PADDING PADRÃO QUE JA VEM. 
* -> SIGNIFICA QUE ELE IRA PEGAR TODAS AS CLASSES E TAGS DO HTML E APLICAR O CONTEUDO, PODEM SER REFERENCIADAS CLASSES SETADAS NO HTML MAS COM . NA FRENTE OU TAGS COLOCANDO DIRETAMENTE A TAG, COMO POR EXEMPLO "body" IRA APLICAR AO BODY DA PAGINA.

MARGIN -> É O ATRIBUTO QUE VOCE DESEJA SETAR/ALTERAR

0PX -> É O VALOR ATRIBUIDO A CLASSE*/

/* EXEMPLO DE HOVER QUE ALTERA A COR DO BACKGROUND DO PRIMEIRO COMPONENTE FILHO PARA VERMELHO AO COLOCAR O MOUSE POR CIMA*/
.circulo:hover, .circulo:first-child {
    background-color: red;
}

/* BEFORE E AFTER EU NAO LEMBRO COMO USAR */

/* NUNCA NA MINHA VIDA FIZ ANIMACAO NO CSS E TAMBEM NAO LEMBRO COMO FAZ */